*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Parkinsas;
}
:root{
    --PrimaryColor: #121212;
    --SecondColor : #1b4332;
}
@font-face {
    font-family: Parkinsas;
    src: url('../../public/Fonts/Parkinsas/Parkinsans-VariableFont_wght.ttf');
}

.App {
  text-align: center;
  background: linear-gradient(135deg, #121212 0%, #121212 40%, #1b4332 100%);
  width: 100%;
}
/*NavBar*/
.container{
    background-color: transparent;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 0 105px;
    width: 100%;
    color: white;
    transition: 0.3s ease;
    position: sticky;
    z-index: 10000000000000000000000000;
    top: 0;
}
.title{
    display: flex;
    align-items: center;
       letter-spacing: 4px;
       text-decoration: none;
       color: white;
}
.title h1{
    display: flex;
    align-items: center;
}
.tag-symbol{
    color: white;
    font-size: 45px;
}
.linksSection{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 99999999;
}
.container ul{
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    list-style: none;
}
ul li:first-child , span{
    color: var(--SecondColor);
}
li{
    cursor: pointer;
    position: relative;
}
li::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;        
  height: 2px;
  background: var(--SecondColor);
  transform: scaleX(0);        
  transition: transform 0.3s ease;
}
.container ul li a{
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}
li:hover::after {
  transform: scaleX(1); 
}
.Active::after{
 content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;        
  height: 2px;
  background: var(--SecondColor);        
  transition: transform 0.3s ease;
  transform: scaleX(1)
}
.darkModeIcon{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    cursor: pointer;
    scale: 1.2;
    color: white;
    padding: 2px;
    transition: 0.4s;
}
.darkModeIcon:hover{
    transform:rotateZ(30deg)
}
/*Main*/
.Main-Section{
    height: calc(100vh - 55px);
    width: 70%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.Main-Content{
    text-align: left;
    padding: 3px;
    width: 45%;
    color: white;
}
.Main-Content h3{
    font-size: 22px;
    font-weight: bold;
}
.typing {
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #1b4332; /* cursor */
  display: inline-block;
  animation: typing 5s steps(30, end) infinite, blink 0.7s step-end infinite;
}
.Main-Content p {
    font-size: 15px;
    letter-spacing: 1px;
    width: 100%; 
}

@keyframes typing {
  0% { width: 0ch; }
  50% { width: 36ch; } 
  100% { width: 0ch; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

.howIam{
    font-size: 35px;
    color: white;
}
.Main-Content h1{
    font-size: 60px;
    margin-bottom: -10px;
}

.contact-icons {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;   
    padding: 10px 0;  
    box-sizing: border-box;
    margin-top: 15px;
}

.contact-icons div {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid var(--SecondColor);
    transition: 0.3s;
    cursor: pointer;
}

.contact-icons div a {
    color: white;
    font-size: 20px;  
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--SecondColor);
    transition: 0.2s;
}
.contact-icons div:hover {
    border: 2px solid var(--SecondColor);
    background-color: var(--SecondColor);
    box-shadow: 0 0 10px 3px var(--SecondColor);
    transform: translateY(-3px);
}

.contact-icons div:hover a {
    color: var(--PrimaryColor);
}

/*logo*/
.logo .logoIcon{
    filter: drop-shadow(0px 0px  20px var(--SecondColor) );
    font-size: 500px;
    color: var(--PrimaryColor);
   animation: rotateInfinite 30s linear infinite, shadowMove 2s infinite alternate;
}

@keyframes rotateInfinite {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes shadowMove {
   0% {
        filter: drop-shadow(0px 0px 5px #1b4332);
    }
    50% {
        filter: drop-shadow(10px 10px 15px #1b4332);
    }
    100% {
        filter: drop-shadow(0px 0px 5px #1b4332);
    }
}
.menuIcon{
    display: none;
}
.downloadCv{
    margin-top: 15px;
}
.downloadCv button{
    padding: 5px;
    width: 140px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid var(--SecondColor);
    background-color: var(--SecondColor);
    color: white;
    font-size: 15px;
    box-shadow: 0 0 10px 2px var(--SecondColor);
    cursor: pointer;
    transition: 0.3s;
}
.downloadCv button:hover{
    background-color: transparent;
    color: var(--SecondColor);
}
/*ContactSection*/
.ContactSection{
    width: 55%;
    z-index: 999999999999;
    border-radius: 7px;
    background: var(--PrimaryColor);
    padding: 10px;
    color: white;
    box-shadow: 0 0 10px 4px var(--SecondColor);
    position: fixed;
    top: -500px; /* start off screen */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0; /* hidden initially */
    transition: top 0.8s ease, opacity 0.8s ease;
}

.ContactSection.slide{
    top: 80px; /* where it stops */
    opacity: 1; /* fade in */
}

.ContactSection h1{
    font-size: 30px;
    letter-spacing: 4px;
    margin-bottom: 10px;
}
.ContactSection form {
    width: 60%;
    margin-inline: auto;
    margin-top: 10px;
    padding: 5px;
}
input , textarea{
    padding: 8px 10px;
    font-size: 13px;
    border-radius: 4px;
    outline: none;
    border: none;
    margin-bottom: 8px;
    background-color: white;
}
input{
    height: 40px;
}
form .fullName{
    width: 100%;
}
.contact{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.contact input{
    width: 49%;
}
.ContactSection textarea{
    width: 100%;
    height: 120px;
}
.submitButton{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.submitButton button:first-child{
    width: 140px;
    height: 30px;
    border-radius: 4px;
    background-color: var(--SecondColor);
    color: var(--PrimaryColor);
    border: 2px solid var(--SecondColor);
    cursor: pointer;
    transition: 0.3s;
}
.submitButton button:last-child{
    width: 140px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
    background-color: gray;
    border: 2px solid gray;
    transition: 0.3s;
}
.submitButton button:first-child:hover{
    background-color: var(--PrimaryColor);
    color: var(--SecondColor);
}
.submitButton button:last-child:hover{
    background-color: rgb(87, 87, 87);
}
.ContactSection label{
    font-size: 12px;
    opacity: 0;
    transition: 0.5s;
    color: #1b4332;
}
label.show{
    opacity: 1;
}
/*SkillsSection*/
.SkillsSection {

  width: 100%;
  min-height: calc(100vh - 55px);
}
.skillsTitle{
    color: white;
    letter-spacing: 5px;
}
.skillsTitle span{
    font-size: 45px;
}
img{
    width: 80px;
    transition: 0.4s;
    margin-bottom: 10px;
}
.skills{
    width: 80%;
    margin-inline: auto;
    margin-top: 15px;
    padding: 15px;
}
.technoTitle{
    font-size: 21px;
    letter-spacing: 3px;
    color: white;
}
.programming{
    display: flex;
    margin-block: 20px;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 20%;
    height: 170px;
    padding: 7px;
    background-color:#1212125a;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 2px var(--SecondColor);
    overflow: hidden;
    transition: 0.4s;
    cursor: pointer;
}
.card label{
    color: white;
    font-size: 17px;
}
.card:hover img{
    scale: 1.4;
    transform: rotate(-20deg);
}










/*responsive*/
@media screen and (max-width : 1200px){
     .menuIcon{
        font-size: 22px;
        cursor: pointer;
        z-index: 10; /* f top dyal container */
        display: block;
        color: white !important;
    }
    .linksSection{
        flex-direction: column;
        display: flex; 
        position: fixed;
        right: -350px;
        opacity: 0;
        position: absolute; 
        top: 55px; 
        right: 0;
        margin-top: 15px;
        background-color: var(--PrimaryColor);
        width: 150px;
        z-index: 5555;
        border-radius: 15px;
        gap: 10px;
        padding: 10px;
        border-radius: 15px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.3);
        transition: 0.4s;
    }
    .skills{
        width: 90%;
    }
   .show{
    opacity: 1;
    right: 45px;
}
    .linksSection ul{
        flex-direction: column;
        width: 100%;
    }

    .linksSection ul li{
        margin: 10px 0;
    }
    
    .Main-Section{
      width: 80%;
      height: calc(100vh - 55px);
      padding: 0 20px;
      margin-inline: auto;
      justify-content: center;
      gap: 30px;
    }
    .logo .logoIcon{
        font-size: 275px;
    }
    .Main-Content{
        width: 90%;
        padding: 0;
    }
    .Main-Content h1{
        font-size: 35px;
    }
    .Main-Content h3{
        font-size: 18px;
    }
    .Main-Content p{
        font-size: 14px;
    }
    .container{
        padding:0 105px;
        padding-top: 15px;
    }

    .contact-icons{
        width: 60%;
        
    }
    
    
    .menuIcon{
        font-size: 34px;
        cursor: pointer;
    }
    .menuIcon:hover{
        scale: 1.1;
    }
}
@media screen and (max-width : 767px){
     .menuIcon{
        font-size: 22px;
        cursor: pointer;
        z-index: 10; /* f top dyal container */
        display: block;
        color: white !important;
    }

    .linksSection{
        flex-direction: column;
        display: flex; 
        position: fixed;
        right: -350px;
        margin-top: 15px;
        opacity: 0;
        position: absolute; 
        top: 55px; 
        right: 0;
        background-color: var(--PrimaryColor);
        width: 150px;
        z-index: 15555;
        border-radius: 15px;
        gap: 10px;
        padding: 10px;
        border-radius: 15px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.3);
        transition: 0.4s;
    }
   .show{
    opacity: 1;
    right: 15px;
}
    .linksSection ul{
        flex-direction: column;
        width: 100%;
    }

    .linksSection ul li{
        margin: 10px 0;
    }
  
    .Main-Section{
      width: 100%;
      height: calc(100vh -55px);
      padding: 0;
      flex-direction: column-reverse;
     justify-content: center;
    }
    .logo{
        padding-top: 15px;
        height: 30%;

    }
    .logo .logoIcon{
        font-size: 200px;
    }
    .Main-Content{
        width: 90%;
       
        height: 70%;
        padding: 0;
    }
    .Main-Content h1{
        font-size: 35px;
    }
    .Main-Content h3{
        font-size: 18px;
    }
    .Main-Content p{
        font-size: 14px;
        margin-top: 10px;
    }
    .container{
        padding: 0 25px;
    }

    .contact-icons{
        width: 70%;
        margin-inline: auto;
    }
    
    .menuIcon{
        font-size: 22px;
        cursor: pointer;
    }
    .menuIcon:hover{
        scale: 1.1;
    }
    .downloadCv{
        display: flex;
        justify-content: center;
    }
    .downloadCv button{
        width: 60%;
    }
    .Main-Content p{
        width: 100%;
    }
    .ContactSection , .ContactSection form{
     width: 90%;
     z-index: 999999999999999;

    }
    .programming {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .card{
        width: 100%;
    }
    .skillsTitle{
        font-size: 22px;
        letter-spacing: 2px;
    }
    .technoTitle{
        font-size: 19px;
        letter-spacing: 1px;
    }
    .base{
        display: flex;
        justify-content: center;
    }
    
}